{% extends "base.html" %}
{% block app_content %}
<div class='container px-4 py-4 overflow-hidden'>
    <div class="row">
        <div class="col-md-8">
            <form id='change_password_form'>
                <label for='psw'>Enter Current Password:</label>
                <br>
                <input class="form-control form-control-lg" type='password' placeholder="Password" name='psw' id='psw'></input>
                <br><br>
                <label for='new_psw'>Enter New Password:</label>
                <br>
                <input class="form-control form-control-lg" type='password' placeholder="Password" name='new_psw' id='new_psw'></input>
                <br><br>
                <label for='new_psw_2'>Confirm New Password</label>
                <br>
                <input class="form-control form-control-lg" type='password' placeholder="Password" name='new_psw_2' id='new_psw_2'></input>
            </form>
        </div>
    </div>
</div>
{% endblock app_content %}
{% block scripts %}
{{ super() }}
<script>
    $('#navbar_brand').on('click',function(){
        window.location.href = "{{ url_for('main.index') }}"
    })

    $('#nav_dashboard').on('click',function(){
        window.location.href = "{{ url_for('auth.login',type='redirect') }}"
    });

    function verifyPassword(){
        return new Promise((resolve,reject) => {
            var psw = $('#psw').val()
            if(psw.length==0){
                resolve('none')
                $('#no_current').removeClass('hidden');
            }else{
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('auth.verify_password') }}",
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({'psw':psw}, null, '\t'),
                    success: function(result){
                     resolve(result)
                     $('#no_current').addClass('hidden');
                 },
                 error: function(error){
                    reject(error)
                }
            })
            }
        })
    }

    function validatePassword(){
        return new Promise((resolve,reject) => {
            var psw = $('#new_psw').val()
            var psw_2 = $('#new_psw_2').val()

            if(psw.length == 0){
                resolve('none')
                $('#no_psw').removeClass('hidden');
            }else if(psw_2.length == 0){
                resolve('none')
                $('#no_psw2').removeClass('hidden');
            }else if(psw != psw_2){
                resolve('none')
                $('#no_match').removeClass('hidden')
            }else{

                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('auth.post_change_password') }}",
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({'psw':psw}, null, '\t'),
                    success: function(result){
                     resolve(result)
                 },
                 error: function(error){
                    reject(error)
                }
            })

            }

        })

    };

    $('#submit_change_password_form').click(function(){
        $('#errors > p').addClass('hidden');
        $('.submit_form').addClass('hidden')
        $('.loading_button').removeClass('hidden')


        verifyPassword()
        .then(result => {
            if(result == 'pass'){
                return validatePassword();
            }
        }).then(psw_result => {
            $('.submit_form').removeClass('hidden')
            $('.loading_button').addClass('hidden')
            if(psw_result =='pass'){
                window.location.href = "{{ url_for('main.account',type='password_changed') }}";
            }else if(psw_result == 'fail'){
                $('#account_error').removeClass('hidden');
            }
        }
        ).catch(error => {
            $('.submit_form').removeClass('hidden')
            $('.loading_button').addClass('hidden')
            $('#account_error').removeClass('hidden');
            console.log(error)
        })
    })
</script>


{% endblock scripts %}
