{% extends "base.html" %}

{% block app_content %}
<div class='container px-4 py-4 overflow-hidden'>
    <div class='col-md-6 offset-md-3'>
    <h1 style='color: #0038B8;'>Reset Your Password</h1>
    <div id='errors' class='alert'>
        <p id='no_psw' class='hidden'>Please enter new password!</p>
        <p id='no_psw2' class='hidden'>Please confirm new password!</p>
        <p id='no_match' class='hidden'>Passwords do not match!</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form id='reset_password_form'>
                <label for='psw'>Enter Password:</label>
                <br>
                <input class="form-control form-control-lg" type='password' placeholder="Password" name='psw' id='psw'></input>
                <br><br>
                <label for='psw_2'>Confirm Password</label>
                <br>
                <input class="form-control form-control-lg" type='password' placeholder="Password" name='psw_2' id='psw_2'></input>
                <br><br>
                <input type='button' class='btn btn-primary btn-lg' id='submit_reset_form' value='Submit'>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock app_content %}
{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>

    $('#navbar_brand').on('click',function(){
        window.location.href = "{{ url_for('main.index') }}"
    })

    $('#nav_dashboard').on('click',function(){
        window.location.href = "{{ url_for('auth.login',type='redirect') }}"
    });

    function updatePassword(psw){
        var user_id = '{{ user_id }}';
        var user_id = parseInt(user_id);

        $.ajax({
            type: 'POST',
            url: "{{ url_for('auth.update_password') }}",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({'user_id':user_id,'psw':psw}, null, '\t'),
            success: function(data){
                alert('Password successully updated!');
                window.location.href = "{{ url_for('auth.login',type='none')}}";
            }
        })

    };


    function validatePassword(callback){

        var psw = $('#psw').val();
        var psw2 = $('#psw_2').val();

        if(psw.length == 0){
            $('#no_psw').removeClass('hidden');
        }else if(psw2.length == 0){
            $('#no_psw2').removeClass('hidden');
        }else if(psw != psw2){
            $('#no_match').removeClass('hidden');
        }else{
            $('#errors > p').addClass('hidden');
            callback(psw)
        };
    };

    $('#submit_reset_form').click(function(){
        validatePassword(updatePassword);
    });
</script>
{% endblock scripts %}
