{% extends "base.html" %}

{% block app_content %}
<div class='container px-4 py-4 overflow-hidden'>
    <div class='col-md-6 offset-md-3'>
    <h1 style='color: #0038B8;'>Reset Password</h1>
    <div id='errors' class=alert>
        <p id='no_email' class='hidden'>Please enter email!</p>
        <p id='email_not_found' class='hidden'>This email is not associated with an account!</p>
    </div>
    <form id='request_password_request'>
        <label for='email'>Enter Email:</label>
        <br>
        <input class='form-control-lg' id='email' name='email' type='text'></input>
        <br><br>
        <div id='buttons'>
            <input type='button' id='request_reset_form' class='btn primary-color btn-lg submit_form' value='Submit'>
            <button class="btn primary-color loading_button hidden" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </form>
    </div>
</div>
{% endblock app_content %}
{% block scripts %}
{{ super() }}
<script>
    $('#navbar_brand').on('click',function(){
        window.location.href = "{{ url_for('main.index') }}"
    })

    $('#nav_dashboard').on('click',function(){
        window.location.href = "{{ url_for('auth.login',type='redirect') }}"
    });


    function get_id(){
        return new Promise((resolve) => {
            var email = $('#email').val();
            var email = email.toLowerCase();

            if(email.length == 0){
                $('#no_email').removeClass('hidden');
                resolve('empty input');
            }else{
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('auth.reset_get_id') }}",
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify({'email':email},null,'\t'),
                    success: function(result){
                        if(result == 'fail'){
                            $('#invalid_email').removeClass('hidden');
                            reject('get_id failed')
                        }else{
                            $('#invalid_email').addClass('hidden');
                            resolve(result)
                        }
                    },
                    error: function(){
                        reject('get_id failed')
                    },
            })

            };


        })};

    function send_reset_password_token(user_id){
        return new Promise((resolve,reject) => {

            $.ajax({
                type: 'POST',
                url: "{{ url_for('auth.send_reset_password_token') }}",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({'user_id':user_id}, null, '\t'),
                success: function(result){
                    resolve(result)
                    window.location.href = "{{ url_for('auth.login', type='reset')}}";
                },error: function(){
                    reject('reset token failed')
                }
            })
    })};




    $('#request_reset_form').click(function(){

        $('.submit_form').addClass('hidden')
        $('.loading_button').removeClass('hidden')

        get_id().then(result => {
            return send_reset_password_token(result)
        }).then(result => {
            console.log(result)
            $('.submit_form').removeClass('hidden')
            $('.loading_button').addClass('hidden')
        }).catch(error => {
            console.log(error)
            $('.submit_form').removeClass('hidden')
            $('.loading_button').addClass('hidden')
        })
    });


</script>
{% endblock scripts %}
